{{#partial "content"}}

    <h1>Your Resume!</h1>


    {{#if jobArray}}

        {{#each jobArray}}

            <ul>

        <li>Job Name: {{ jobName }} </li>
        <li>Company Name: {{ company }} </li>
        <li>Dates Worked: {{ date }} </li>
        <li>Job Description: {{ description }} </li>
        </ul>
        {{/each}}
    {{else}}
    <p>No Jobs added!</p>
    {{/if}}


    <p>Add a new Job:</p>

    <form action="/jobs/new" method="post">
        <div class=""form-group">
            <label for="name">Name of your job:</label>
            <input id="name" name="name" type="text">
        </div>
        <div class=""form-group">
            <label for="company">Company Name:</label>
            <input id="company" name="company" type="text">
        </div>
        <div class=""form-group">
            <label for="date">Dates you Worked:</label>
            <input id="date" name="date" type="text">
        </div>
        <div class=""form-group">
            <label for="description">Brief Description of your Job:</label>
            <input id="description" name="description" type="text">
        </div>
        <div>
        <button type="submit" class="btn btn-success">Add a Job</button>
        </div>
    </form>
{{/partial}}

{{> layout.hbs}}